

<section class="info-container">
  <h2>Choose your pet:</h2>

  <div class="pet" id="dog">
    <form method="POST" action="/pets/createOli">
      <button>Create Oli</button>
    </form>
  </div>

  <div class="pet" id="cat">
    <form method="POST" action="/pets/createOlive">
      <button>Create Olive</button>
    </form>
  </div>

</section>
