/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html  {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: lightblue;
  background-image: url('http://www.stefanmensen.nl/0_Dump/Skybox/CartoonGrassHill01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: white;
  border-bottom: 1px solid black;
}

nav > h1 {
  padding: .50em;
  padding-right: 1em;
  display: inline-block;
}

.navbar-text {
  padding-top: 1em;
  padding-right: 1em;
  display: inline-block;
}

.devise-form, .info-container {
  border: 1px solid black;
  border-radius: 12px;
  background: white;
  margin: 15% auto;
  height: 40%; width: 40%;
  text-align: center;
}

input {
  height: 25px; width: 60%;
}

.field {
  padding: .5em;
}

.actions {
  margin: 1em;
}

.pet-image-container {
  margin: 29% auto;
  border: 1px solid black;
  /*height: 50%; width: 50%;*/
}

.pet-image-container > img {
  margin: 0 35%;
  height: 20%; width: 20%;
  padding: 1em;
  display: inline-block;
}

h2 {

}

.name-container {
  font-family: 'Indie Flower', cursive;
  margin: 14% auto;
  border: 1px solid black;
  width: 37%;
}
